---
layout: post
title: Microblog
subtitle: A hard copy of all my online posts
---

{% assign items = site.socials | sort : 'date' %}

{% for social in site.socials reversed %}
{% if social.network %}
<div class = "social">
<div class = "icon-{{ social.network }}">
    <a href="{{ social.link }}"><i class="fa fa-{{ social.network }}" aria-hidden="true"></i></a>
<div class="social-meta">
    <span class="entry-date date published updated">{{ social.date | date: "%d %b<br>%Y" }}</span></div>     
</div>
<div class = "content-microblog">
    {% if social.avatar %}
    <img class="social-avatar" src="{{ social.avatar }}" <br />
    {% endif %}
    {% if social.image %} <img src="{{ social.image }}">{% endif %}
    {% if social.caption %} <p>{{ social.caption }}</p> {% endif %}
    {{ social.content }}</div>     
   
</div>
{% endif %}
{% endfor %}