---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
<!---------------------- POST IMAGE OR ICON LOOP ---------------------->
{% if post.category == "Writing" %}
    {% if post.tn %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/index/" | prepend: site.baseurl | append : post.tn}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% elsif post.img %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/post/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}<div class="post-linkthumb"><h1 class="defaultpost"><i class="fa fa-glass" aria-hidden="true"></i></h1></div>
    {% endif %}
{% elsif post.category == "Linked" %}
    {% if post.tn %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/index/" | prepend: site.baseurl | append : post.tn}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% elsif post.img %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/post/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}<div class="post-linkthumb"><h1 class="linkpost"><i class="fa fa-link" aria-hidden="true"></i></h1></div>
    {% endif %}
{% elsif post.category == "Stuff" %}
    {% if post.tn %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/index/" | prepend: site.baseurl | append : post.tn}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% elsif post.img %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/post/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}<div class="post-linkthumb"><h1 class="stuffpost"><a href="{{post.link}}"><i class="fa fa-amazon" aria-hidden="true"></i></a></h1></div>
    {% endif %}
{% elsif post.category == "Micro" %}
    <div class="post-linkthumb"><h1 class="micropost"><a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-quote-left" aria-hidden="true"></i></a></h1></div>
{% elsif post.category == "Video" %}
        {% if post.tn %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/index/" | prepend: site.baseurl | append : post.tn}})" href="{{post.url | prepend: site.baseurl}}"></a>
        {% elsif post.img %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/post/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
        {% else %}<div class="post-linkthumb"><h1 class="youtubepost"><a href="{{post.link}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></h1></div>
    {% endif %}
{% elsif post.category == "Social" %}
    {% if post.via == "Twitter" %}<div class="post-linkthumb"><h1 class="tweetpost"><a href="{{post.link}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></h1></div>
    {% elsif post.via == "Instagram" %}
        {% if post.tn %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/index/" | prepend: site.baseurl | append : post.tn}})" href="{{post.url | prepend: site.baseurl}}"></a>
        {% elsif post.img %} <a class="post-thumbnail" style="background-image: url({{"/assets/img/post/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
        {% else %}<div class="post-linkthumb"><h1 class="instapost"><a href="{{post.link}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></h1></div>
        {% endif %}

    {% endif %}
{% endif %}
<!---------------------- ARTICLE TITLE AND SUBTITLE ---------------------->
<div class="post-content">
{% if post.via == "Twitter" or post.category == "Micro" %}  
{% elsif post.via == "Instagram" %}
<h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-instagram" aria-hidden="true"></i> {{post.title}}</a></h2>
    {% if post.subtitle %}<h4 class="post-subtitle">{{post.subtitle}}</h4>
    {% endif %}
{% else %}<h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    {% if post.subtitle %}<h4 class="post-subtitle">{{post.subtitle}}</h4>
    {% endif %}
{% endif %} 
<!---------------------- POST CONTENT ---------------------->
<p>{{ post.excerpt }}</p>
<!---------------------- READ MORE AND EXTERNAL LINK PILL ---------------------->
<div class="index-read-pill">
{% if post.via == "Twitter" %}
    <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-glass" aria-hidden="true"></i></a></div>
    <div class="read-source-twitter"><a href="{{post.link}}" class="post-tag"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;{{post.via}}</a></div>
{% elsif post.via == "Instagram" %}
    <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-glass" aria-hidden="true"></i></a></div>
    <div class="read-source-instagram"><a href="{{post.link}}" class="post-tag"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;{{post.via}}</a></div>
{% elsif post.via == "YouTube" %}
    <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-glass" aria-hidden="true"></i></a></div>
    <div class="read-source-youtube"><a href="{{post.link}}" class="post-tag"><i class="fa fa-youtube" aria-hidden="true"></i>&nbsp;&nbsp;{{post.via}}</a></div>
{% elsif post.via %}    
    <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-glass" aria-hidden="true"></i></a></div>
    <div class="read-source"><a href="{{post.link}}" class="post-tag"><i class="fa fa-link" aria-hidden="true"></i>&nbsp;&nbsp;{{post.via}}</a></div>
{% else %} 
     <div class="read-more-pill"><a href="{{ site.baseurl }}{{ post.url }}"><i class="fa fa-glass" aria-hidden="true"></i></a></div>
{% endif %}
</div>
<!---------------------- POST METADATA ----------------------> 
<div class="index-metadata">      
    <span class="post-date">{{post.date | date: '%B %d, %Y'}}<!--&nbsp;&nbsp;&nbsp;—&nbsp;
    {% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}--></span>
</div> 
</div><!-- END post-content -->
</article>

{% endfor %}

{% include pagination.html %}
