---
layout: home
title: "Home"
description: "Internet ramblings fueled by adult beverages"
tags: []
comments: false
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span>
    </div><!-- /.entry-meta -->      
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-glass"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
    {% if post.subtitle %}
    <h5>{{ post.subtitle }}</h5> 
    {% endif %}
   <!-- /.entry-meta <div class="entry-meta">
    <span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
    </div> -->
  
    {% if post.image.feature %}
      <div class="entry-image-index">
    {% if post.image.feature contains "http" %}
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ post.image.feature }}" alt="{{ post.title }}"></a>
    {% else %}
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.index_url }}/{{ post.image.feature }}" alt="{{ post.title }}"></a>      
        {% if post.image.credit %}<div class="image-credit">Image source: <a target="_blank" href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></div><!-- /.image-credit -->
          {% endif %}
          {% endif %}
      </div><!-- /.entry-image -->
    {% endif %}
  </header>
  <div class="entry-content">
     {{ post.excerpt }}
     {% if post.content contains "<!-- more -->" %}
          <div align="left">
              <div markdown="0"><a href="{{ site.url }}{{ post.url }}" class="btn btn-info">continue reading <i class="fa fa-glass" aria-hidden="true"></i></a></div>
          </div>
      {% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}
