<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/favicon-16x16.png">
<!-- 32x32 -->
<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/favicon-32x32.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/apple-icon-57x57.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/apple-icon-72x72.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/apple-icon-114x114.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/apple-icon-144x144.png">
<!-- 192x192 SVG for Pinned Tab -->
<link rel="mask-icon" href="https://s3-us-west-2.amazonaws.com/www.jimmylittle.com/icons/tab-icon-16x16.svg" color="orange">
