@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic);



// Body
// --------------------------------------------------
body {
	font-family: $base-font;
	color: $text-color;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
    text-transform: uppercase;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    @include font-rem(28);
	    @media #{$medium} {
        @include font-rem(28);
	    }
}

h4 {
    font-family: $heading-font;
    font-size: 1.3em;
    text-transform: uppercase;
    color: $link-color;
}

h6 {
    font-family: $heading-font;
    text-transform: uppercase;
    color: darken($link-color, 20);
}

// Links
// --------------------------------------------------
a { 
	text-decoration: none;
	color: $link-color; 
	&:visited { 
		color: lighten($link-color, 20); 
	}
	&:hover { 
		color: darken($link-color, 20); 
	}
	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 20);
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

// Note text
// --------------------------------------------------
.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

// Blockquotes
// --------------------------------------------------
blockquote {
    width:80%;
    display:table;
    padding-left: 3em;
	font-family: $alt-font;
    line-height: 1.3em;
	font-style: italic;
	border-left: 2px solid darken($body-color,20);
	margin-left: -28px;
    
//    @media #{$medium} {
//		margin-left: -28px;
//	}
}


// List items
// --------------------------------------------------
.entry-content li {
	margin-bottom: 7px;
}

// Footnotes
// --------------------------------------------------
.entry-content .footnotes {
	ol, li, p {
		@include font-size(14);
	}
}

// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font-rem(12);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: lighten($black, 95);
		@include rounded(3px);
	}
}
pre {
	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;
	&::-webkit-scrollbar {
		height: 12px;
		background-color: #34362e;
		border-radius: 0 0 4px 4px;
	}
	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #6a6d5d;
		@include rounded(4px);
	}
}
