---
---

@import 'normalize';
@import 'syntax';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: #515151;
  background-color: $lightgray;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
}

h1.linkpost {
    color: $white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    line-height: 80px;
    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */
    background-color: $orange;
    text-align: center;
    font-size: 2em;
}

h1.videopost {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    line-height: 80px;
    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */
    background-color: $red;
    text-align: center;
    font-size: 2em;
}

h1.stuffpost, h1.stuffpost a {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */
    background-color: $amazon;
    text-align: center;
}
h1.micropost, h1.micropost a {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */
    background-color: $dark-gray;
    text-align: center;
}
h1.tweetpost, h1.tweetpost a {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */
    background-color: $twitter;
    text-align: center;
}

h1.youtubepost, h1.youtubepost a {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */
    background-color: $youtube;
    text-align: center;
}

h1.instapost, h1.instapost a {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */
    background-color: $instagram;
    text-align: center;
}

h1.defaultpost {
    color: $white;
    display: block;
    vertical-align: middle;    
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    line-height: 80px;
    -moz-border-radius: 40px; /* or 50% */
    border-radius: 40px; /* or 50% */
    background-color: $blue;
    text-align: center;
    font-size: 2em;
}

hr.clear {
    clear: both;
    display: block;
}
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

img.right {
  display: block;
  max-width: 100%;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}

img.left {
  display: block;
  max-width: 100%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
}

img.right + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 3px dotted #f37834;
  padding-left: 1.1rem;
  margin-left: 2rem;
  font-style: italic;
  color: gray;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border: 1px solid #aaa;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td, table.blueTable th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}

table tbody td {
  font-size: 13px;
}

table tr:nth-child(even) {
  background: #adbecc;
}

table thead {
  background: #a9c4d1;
  background: -webkit-gradient(linear, left top, left bottom, from(#bed3dc), color-stop(66%, #b1cad5), to(#A9C4D1));
  background: -webkit-linear-gradient(top, #bed3dc 0%, #b1cad5 66%, #A9C4D1 100%);
  background: -o-linear-gradient(top, #bed3dc 0%, #b1cad5 66%, #A9C4D1 100%);
  background: linear-gradient(to bottom, #bed3dc 0%, #b1cad5 66%, #A9C4D1 100%);
  border-bottom: 1px solid #8c8c8c;
}

table thead th {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid #d0e4f5;
}

table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#dcebf7), color-stop(66%, #d4e6f6), to(#D0E4F5));
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -o-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444;
}

table tfoot td {
  font-size: 14px;
}

.wrapper {
  max-width: 1250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.post {
width: 100%;
max-width: 100%;
background-color: #fff;
margin-bottom: 1.5rem;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
min-height: 11rem;
-webkit-border-radius: 10px;
border-radius: 10px;
overflow: hidden;
-webkit-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
-webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.article-page {
width: 100%;
max-width: 100%;
background-color: #fff;
border-radius: 10px;
}

.article-page-social {
width: 100%;
max-width: 100%;
}

::-moz-selection {
  background: $orange;
  color: $white;
}

::selection {
  background: $orange;
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* unvisited link */
a:link {
    color: $blue;
    font-weight: bolder;
}

/* visited link */
a:visited {
    color: $purple;
    font-weight: bolder;
}

/* mouse over link */
a:hover {
    color: $green;
    font-weight: bolder;
}

/* selected link */
a:active {
    color: $red;
    font-weight: bolder;
}




/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'parts/notch';