.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: $dm-light-gray;
  color: $dm-white;
}

.about { 
  margin: 0 0;
  text-align: center;
}

.about .cover-author-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  background-color: #333030;
}

.about img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.about img:hover {
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
}

.about .author-name {
  font-family: 'Futura', sans-serif;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  color: $dm-white;
  font-weight: 700;
}

.about .author-name::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #515151;
}

.about p {
  font-size: 16px;
  margin: 0 0 10px;
}

.content-box {
  padding: 20px;
  padding-left: 260px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact .contact-title {
  position: relative;
  color: $dm-white;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-align: center;
}

.contact .contact-title::before {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #515151;
}

.contact .contact-title::after {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #515151;
}

.sidebar-menu ul {
  display: block;
  list-style: none;
  text-align: center;
}

.sidebar-menu ul li {
  margin-left: -40px;
}

.sidebar-menu ul li a {
  text-decoration: none;
  color: $dm-white;
}

.sidebar-menu ul li a:hover {
  text-decoration: none;
  color: $yellow;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-block;
  margin-left: 10px;
}

.contact ul li:first-child {
  margin-left: 0;
}

.contact ul li a {
  color: $dm-white;
  display: block;
  padding: 5px;
  font-size: 18px;
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.contact ul li a:hover {
  color: $orange;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.bio {
   font-size: 14px;
  text-align: center;
  margin: 0;   
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.post {
  width: 100%;
  max-width: 100%;
  background-color: $white;
  position: relative;
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-border-radius: $rad-index;
          border-radius: $rad-index;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
          box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
}

.post:hover {
  -webkit-transform: translate(0px, -2px);
      -ms-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
  -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
          box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}


.post .post-thumbnail {
  width: 35%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-thumbnail-micro {
  width: 35%;
  min-height: 11em;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
width: 35%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
}

.post .post-content {
  clear: both;
  padding-bottom: 5em;
  padding-left: .7em;
  padding-right: .7em;
  padding-top: 0;
  width: 70%;
  overflow: hidden;
}

.post .post-content p.index-micro a {
    font-size: 1.5em;
    color: $dm-dark-gray;
    overflow: hidden;
}

.post .post-content h2.micro-index-title {
    display: block;
    text-transform: uppercase;
    background-color: $blue;
    color: $white;
    line-height: 1.5em;
    vertical-align: middle;
    height: 1.5em;
    margin-top: 0;
    margin-left: -1em;
    margin-right: -1em;
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
}

.post .post-content h2.link-index-title {
    display: block;
    text-transform: uppercase;
    background-color: $orange;
    color: $white;
    line-height: 1.5em;
    vertical-align: middle;
    height: 1.5em;
    margin-top: 0;
    margin-left: -1em;
    margin-right: -1em;
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
}


.post .post-content .post-date,
.post .post-content .post-words .read-more {
  font-size: 12px;
}

.index-read-pill {
}

.index-metadata {
    float: left;
    text-align: left;
}

.index-metabar {
    border-top: 1px solid $dm-light-gray;
    position: absolute;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    bottom: 5px;
}
.post .read-more a {
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 0px;
  margin-top: 3px;
  color: $dm-dark-gray;
  text-transform: uppercase;
  background-color: $dm-white;
  border: 1px solid $dm-white;
  border-radius: $rad-pill;;  
  float: right;
}

.post .read-more-pill a {
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 0px;
  margin-top: 3px;
  color: $dm-light-gray;
  background-color: $dm-white;
  border: 1px solid $dm-white;
  text-transform: uppercase;
  border-radius: $rad-pill;  
  float: right;
}
.post .read-source a {
  text-decoration: none;    
  font-weight: bold;    
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $dm-white;
  text-transform: uppercase;
  background-color: $dm-dark-gray;
  border: 1px solid $dm-dark-gray;
  border-radius: $rad-pill;  
  float: right;
}

.post .read-source-twitter a {
  text-decoration: none;
  font-weight: bold;    
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $dm-white;
  text-transform: uppercase;
  background-color: $twitter;
  border: 1px solid $twitter;
  border-radius: $rad-pill;  
  float: right;
}

.post .read-source-instagram a {
  text-decoration: none;
  font-weight: bold;    
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $dm-white;
  background-color: $instagramblue;
  border: 1px solid $instagramblue;
  text-transform: uppercase;
  border-radius: $rad-pill;  
  float: right;
}

.post .read-source-youtube a {
  text-decoration: none;
  font-weight: bold;    
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $dm-white;
  background-color: $youtube;
  border: 1px solid $youtube;
  text-transform: uppercase;
  border-radius: $rad-pill;
  float: right;
}

.post .post-tag a {
  text-decoration: none;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $blue;
  text-transform: uppercase;
  border: 1px solid #263959;
}

.post .post-content .post-title {  
  color: $dark-gray;
  line-height: .85em;
  font-size: 24px;
  font-weight: 400;
}

.post .post-content .post-subtitle { 
  margin-top: 0;
  text-transform: uppercase;
  color: $blue;
  font-size: .7 em;
  font-weight: 700;
}

.post .post-content .post-title a {
  font-family: 'Futura', sans-serif;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;    
  color: $dm-dark-gray;
}

.post .post-content p {
  margin-top: 0;
}

.post .index-tag  {
  float:left;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $green;
  text-transform: uppercase;
  border: 1px solid $green;
  border-radius: $rad-tag;   
}

.post .index-tag a {
  float:left;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 5px;
  margin-top: 3px;
  color: $white;
  background-color: $green;
  text-transform: uppercase;
  border: 1px solid $green;
  border-radius: $rad-tag;   
}

.post .page-date a {
  float:left;
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  font-size: 10px;
  padding: 3px 7px;
  margin-left: 0px;
  margin-top: 3px;
  color: $blue;
  border: 1px solid $blue;
  text-transform: uppercase;
    border-radius: $rad-tag;
}

.post .page-date a:hover{
  float:left;
  display: inline-block;
  text-decoration: none;
  background-color: $blue;
  color: $white;
}

a.older-posts, a.newer-posts {
  font-size: 18px;
  display: inline-block;
  color: #515151;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

a.older-posts:hover {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

a.newer-posts:hover {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}