.blog-tags {
  width: 100%;
 // padding: 0 20px 20px;
}

.blog-tags h1 {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  color: #263959;
}

.blog-tags h2 {
  color: $blue;
  margin: 5px 0;
}

.tags {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.tags li {
  display: inline-block;
  margin: 5px;
  list-style: none;
}

.tags li a {
  font-size: .7em;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid $orange;
  border-radius: 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.tags li a:hover {
  background-color: $orange;
  color: $white;
}

.tag-list span a {
  text-decoration: none;
  color: $dark-blue;
}

.tag-list span a:hover {
  text-decoration: underline;
  opacity: .8;
}

.tag-count {
    color: $red;
    font-size: .8em;
    
}
