/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    color: $dm-white;
    background-color: $dm-dark-gray;
  }
  .sidebar {
    background-color: $dm-light-gray;
    color: $dm-white;
    }
  .about .author-name, .contact .contact-title, .post .read-source a {
    color: $dm-white;    
    }
  .post {
    background-color: $dm-light-gray;
    border-color: $dm-light-gray;
    }  
  .article-page {
    border-color: $dm-light-gray;
    } 
  .page-cover-image {
    background-color: $dm-dark-gray;      
    }
  .wrap-content {
    background-color: $dm-dark-gray;
    }   
  .related-posts h4 {
    background-color: $green;
    color: $dm-white;
    }
  .tags li a {
    color: $dm-white;
    border-color: $blue;
    background-color: $dm-light-gray;
    }
  .tag-count {
    color: $yellow;    
    }
  .tag-list span a {
    color: $dm-white;    
    }
  .highlighter-rouge {color: $yellow; background-color: $dm-dark-gray; border: 1px solid $yellow;}
  
  .highlight {color: $yellow; background-color: $dm-dark-gray;}
     

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dm-dark-gray; 
}
 
::-webkit-scrollbar-thumb {
    background: $dm-white; 
}

::-webkit-scrollbar-thumb:hover {
    background: $dm-white; 
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 948px) {
  .post {
    width: 48%;
    max-width: 100%;
    min-height: 20em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

.post .post-thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

  .post .post-content {
    width: 100%;
  }
  .post .post-content .post-title {
    margin: 5px 0 5px;
  }
  .post .post-content .post-title a {
    font-size: 21px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid $dark-gray;
    margin-bottom: 1em;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }
  .sidebar footer {
    margin-bottom: 10px;
  }

  .content-box {
    padding: 20px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

.contact-title, .copyright, .contact, .about p, .author-name, .about hr {
    display: none;
  }

.about {
  width: 30%;
  float: left;
  vertical-align: middle;
    }

.sidebar-menu {
        float: right;
    }
.sidebar-menu ul {
  display: block;
  list-style: none;
  text-align: right;
}

.sidebar-menu ul li {

  display: block;
}

.sidebar-menu ul li a {
  text-decoration: none;
}

.index-read-pill {

}
.read-more {
    float: right;
        }

.read-source {
    float: right;
        }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content-box {
    padding: 0px;
      border-radius: 0px;
  }
  .post {
    border-radius: 0px;
    max-width: 100%;
    min-height: 20em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

.post .post-thumbnail {
  border-radius: 0px;    
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
  .post .post-content {
    width: 100%;
  }
  .post .post-content .post-title {
    margin: 0 0 5px;
  }
  .post .post-content .post-title a {
    font-size: 18px;
  }

.contact, .about p, .author-name, .about hr {
    display: none;
  }

.page-cover-image, .page-image, .article-page, .page-cover-image, .page-cover-image .page-image {
        border-radius: 0px;
    }
    
.about {
  width: 30%;
  float: left;
    vertical-align: middle;
    }

.sidebar-menu {
        float: right;
    }
.sidebar-menu ul {
  display: block;
  list-style: none;
  text-align: right;
}

.sidebar-menu ul li {

  display: block;
}

.sidebar-menu ul li a {
  text-decoration: none;
}

.index-read-pill {

}
    .read-more {
        float: right;
        }

    .read-source {
        float: right;
        }
}
