/* -------------------------------------------------- Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    color: $dm-white;
    background-color: $dm-dark-gray;
  }
  .sidebar {
    background-color: $dm-light-gray;
    color: $dm-white;
    }
  .about .author-name, .contact .contact-title, .post .read-source a {
    color: $dm-white;    
    }
  .post {
    background-color: $dm-light-gray;
    border-color: $dm-light-gray;
    }  
 
  .article-page {
    border-color: $dm-light-gray;
    } 
  .page-cover-image {
    background-color: $dm-dark-gray;      
    }
  .wrap-content {
    background-color: $dm-dark-gray;
    }   
  .related-posts h4 {
    background-color: $green;
    color: $dm-white;
    }
  .tags li a {
    color: $dm-white;
    border-color: $blue;
    background-color: $dm-light-gray;
    }
  .tag-count {
    color: $yellow;    
    }
  .tag-list span a {
    color: $dm-white;    
    }
  .highlighter-rouge {color: $yellow; background-color: $dm-dark-gray; border: 1px solid $yellow;}
  
  .highlight {color: $yellow; background-color: $dm-dark-gray;}
    
.footnotes {
        background-color: $dm-light-gray;
    }
     

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dm-dark-gray; 
}
 
::-webkit-scrollbar-thumb {
    background: $dm-white; 
}

::-webkit-scrollbar-thumb:hover {
    background: $dm-white; 
}
}

/* -------------------------------------------------- Extra Large Devices, Desktops over 1440 */
@media only screen and (min-width: 1025px) {
    .sidebar {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .content-box {
        padding-left: 300px;
        padding-right: 40px;
    }
    
    /* ---------------------------------- Post */  
  .post {
    width: 48%;
      margin: 0 0.9% 1.5%;
/* card view */
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
  }

.index-metabar {
    width: 95%;
    margin: auto;
    }
.post .post-thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}
    
.post .post-thumbnail-micro {
  width: 100%;
  min-height: 11em;
padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

  .post .post-content {
    width: 100%;
  }
    .post .post-content p
    {
        margin-left: .5em;
        margin-right: .5em;
    }
  .post .post-content .post-title {
    margin: 5px 0 5px;
  }
  .post .post-content .post-title a {
    font-size: 21px;
  }
}
/* -------------------------------------------------- Large Devices, Laptops up to 1024 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* ---------------------------------- Content Box */
.content-box {
    padding: 10px;
    padding-left: 300px;
    padding-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

/* ---------------------------------- Menu and Bar */
    .sidebar {
        padding-left: 40px;
        padding-right: 40px;
    }
/* ---------------------------------- Post */  
  .post {
    width: 48%;
      margin: 0 0.9% 1.5%;
/* card view */
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
  }

.index-metabar {
    width: 95%;
    margin: auto;
    }
.post .post-thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}
    
.post .post-thumbnail-micro {
  width: 100%;
  min-height: 11em;
padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

  .post .post-content {
    width: 100%;
  }
    .post .post-content p
    {
        margin-left: .5em;
        margin-right: .5em;
    }
  .post .post-content .post-title {
    margin: 5px 0 5px;
  }
  .post .post-content .post-title a {
    font-size: 21px;
  }
.social {
    width: 80%;
    font-size: 1em;
}

}


/* -------------------------------------------------- Medium Devices, Tablets up to 768 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
/* ---------------------------------- Content Box */
.content-box {
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

/* ---------------------------------- Menu and Bar */
.sidebar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 1em;
    padding: 10px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }

.sidebar footer, .contact-title, .copyright, .contact, .about p, .author-name, .about hr {
    display: none;
  }

.sidebar-menu {
  display: block;
  width: 100%;
  padding: 0;
}
    
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
    }

.sidebar-menu ul li {
  display: inline;
  margin: 0 !important;
}

.sidebar-menu li a {
  display: inline-block;
  font-size: .7em;
  padding-top: 0;
  padding-bottom: 0;
  width: 16%;
  text-align: center;
  color: $black;
}

.about {
  width: 100%;
  height: 40px;
  margin: 10px;
  text-align: center;
}

.about .cover-author-image {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  background-color: #333030;
}
/* ---------------------------------- Post */   
  .post {
    width: 48%;
      margin: 0 0.9% 1.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

.post .post-thumbnail {
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}
    
.post .post-thumbnail-micro {
  width: 100%;
  min-height: 11em;
padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.post .post-content {
    width: 100%;
  }
.post .post-content p
    {
    margin-left: .5em;
    margin-right: .5em;
    }
.post .post-content .post-title {
    margin: 5px 0 5px;
  }
.post .post-content .post-title a {
    font-size: 21px;
  }
/* ---------------------------------- Social Post */
.social {
    width: 80%;
    font-size: 1em;
}

}

/* --------------------------------------------------  Small Devices, Phones up to 480 */
@media only screen and (min-width: 200px) and (max-width: 480px) {
/* ---------------------------------- Content Box */
.content-box {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
/* ---------------------------------- Menu and Bar */
.sidebar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
            box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  }

.sidebar footer, .contact-title, .copyright, .contact, .about p, .author-name, .about hr {
    display: none;
  }
    
.sidebar-menu {
  display: block;
  width: 100%;
  padding: 0;
}
    
.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
    }

.sidebar-menu ul li {
  display: inline;
  margin: 0 !important;
}

.sidebar-menu li a {
  display: inline-block;
  font-size: .7em;
  padding-top: 0;
  padding-bottom: 0;
  width: 16%;
  text-align: center;
  color: $black;
}
.about {
  width: 100%;
  height: 40px;
  margin: 10px;
  text-align: center;
}

.about .cover-author-image {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  background-color: #333030;
}  
/* ---------------------------------- Post */
  .post {
    border-radius: 0px;
    max-width: 100%;
    min-height: 20em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

.post .post-thumbnail {
  border-radius: 0px;    
  width: 100%;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}
.post .post-thumbnail-micro {
  width: 100%;
  min-height: 11em;
  padding-bottom: 56.25%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
}

.post .post-linkthumb {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.post .post-content {
    width: 100%;
  }
.post .post-content .post-title {
    margin: 0 0 5px;
  }
.post .post-content .post-title a {
    font-size: 18px;
  }
.index-metabar {
    width: 95%;
    margin: auto;
    }
/* ---------------------------------- Social Post */
.social p {
    text-align: left;
    padding: .5em;
    font-size: 1em;
    margin: 0;
}

.social {
    width: 98%;
}


.contact, .about p, .author-name, .about hr {
    display: none;
  }

.page-cover-image, .page-image, .article-page, .page-cover-image, .page-cover-image .page-image {
        border-radius: 0px;
    }
    
}