$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

/*  Site Theme Colors   */
$red : #e75351;
$orange: #f27734;
$yellow: #fdc334;
$green: #73c25c;
$blue: #24aee4;
$purple: #a856aa;
$gray: #919191;
$black: #000000;