<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2007-10-04-be-a-star - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>533685147.88574201</real>
				<key>version</key>
				<dict>
					<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
					<integer>1</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2007-10-04-be-a-star.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>541457490.85955703</real>
				<key>lastModification</key>
				<real>541457490.85955703</real>
				<key>version</key>
				<dict>
					<key>305A3441-791B-492A-A2C3-D961718A086D</key>
					<integer>10</integer>
					<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
					<integer>8</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2007-10-04-brush-your-teeth-flush-your-toilet.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129798</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2007-11-14-green-peace-and-the-clash-with-apple - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>539309235.13185596</real>
				<key>version</key>
				<dict>
					<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
					<integer>7</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2007-11-14-green-peace-and-the-clash-with-apple.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129702</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2007-12-23-carpet-or-tile-which-is-greener.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129398</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2007-12-24-macworld-2008-predictions.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129303</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2007-12-28-gadget-of-the-year.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129303</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-01-21-one-more-reason-to-not-like-tom-cruise.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129202</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-02-11-rip-hd-dvd-long-live-blu-ray.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129202</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-04-19-water-bottles-are-bad.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129202</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-06-04-apple-wants-you-to-buy-iphone-apps.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411291</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-07-03-att-and-everyone-else-charges-1497-per-megabyte.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128999</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-09-05-ecoweb-friday-bignyc.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128999</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2008-10-20-my-electronics-on-the-road.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128898</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-03-04-microsofts-irony.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128898</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-03-14-amazons-trojan-horse.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128802</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-04-15-happy-friday-everyone.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411304</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-05-14-riaa-are-dirtbags-plain-and-simple.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130298</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-06-03-wwdc-2011.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130298</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-06-18-us-news-world-report-screws-paleo-without-research.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130197</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-07-04-happy-235-america.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130197</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-07-20-osx-lion-is-here-sort-of.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128802</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-08-28-irene.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128701</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-09-08-michael-hart-inventor-of-ebooks-dies.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130102</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-09-09-terrible-trade-agreements.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.4113</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-09-16-oklahoma-city-memorial.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129899</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-10-08-the-crazy-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129899</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-10-27-movie-mandates-on-bds.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129798</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2011-12-21-fire-the-bastards-all-of-them.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41129798</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-02-16-mountain-lion-is-coming.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130602</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-03-07-ipad-3-event-today.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130602</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-06-24-the-clearchannel-connection.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130602</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-11-28-linkbait-bullshit-from-tuaw.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128701</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-12-02-as-time-goes-by.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411286</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-12-13-hostess-ceo-is-a-giant-ass.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411286</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2012-12-23-but-not-the-second.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411286</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-03-14-google-reader-is-dead.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128498</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-03-28-beware-social-media-distractions.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128498</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-05-22-every-oklahoma-senator-and-rep-voted-against-fema.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128403</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-06-02-wwdc-2013-is-next-week.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128403</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-08-07-dancing-jimmy.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128302</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-08-26-happy-national-dog-day.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128302</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-10-22-apple-october-event-quickie.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128302</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-10-24-mavericks-and-textexpander.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411282</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-11-03-daylight-savings-and-security.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411282</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-11-07-is-mavericks-screwing-up-your-pdfs.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128099</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-11-10-i-just-returned-my-first-apple-device.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41128099</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-02-22-if-this-then-that.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127998</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-05-hostile-ux-on-tech-websites-part-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127998</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-09-using-keyboard-maestro-for-print-layout-in-sketchup.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127998</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-01-the-obligatory-pre-wwdc-prognostication.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127902</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-09-09-apple-september-event.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127902</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-03-03-new-tricks.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127902</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-05-27-apple-watch-workflow.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127801</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-09-more-malware-fun.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127801</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-13-productive-watch-faces.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411277</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-16-ipad-pro-first-impressions.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411277</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-15-perfectly-reasonable.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127598</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-31-happy-new-year-yall-start-today.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127598</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-17-tim-cook-a-dangerous-precedent.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127598</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-22-apple-faq-on-the-fbi-request.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127503</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-22-disingenuous-at-best.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127503</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-03-Amicus-Briefly.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127402</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-15-richard-clarke-talks-encryption.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411273</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-30-drafts-apple-watch.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411273</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-31-on-the-ifttt-kerfuffle.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127199</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-01-Apple-turns-40.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127199</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-07-textexpander-pricing.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127199</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-03-my-social-apps-2016-edition.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127098</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-25-voting-by-mail-is-awesome.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127002</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-31-google-photos-hits-one-year.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127002</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-01-the-internet-decapitalized.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41127002</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-03-i-just-troncd-my-pants.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126901</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-07-wwdc-week-of-wants-vol-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126901</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-08-wwdc-week-of-wants-vol-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411268</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-09-wwdc-week-of-wants-vol-3.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411268</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-10-wwdc-week-of-wants-vol-4.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126698</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-11-wwdc-week-of-wants-vol-5.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126698</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-12-wwdc-week-of-wants-vol-6.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126603</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-13-wwdc-post-roundup.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41126502</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-12-imac-ssd-upgrade.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130501</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-29-cognitive-dissonance.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130501</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-18-search-engine-bias-in-politics.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130799</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-02-the-well-kept-app-store.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130799</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-06-apple-s-september-event.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130799</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-08-airpod-paranoia.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41130698</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-01-on-the-iphone-7-plus.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411309</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-03-ios-and-tvos-playing-nice.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411309</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-10-hurricane-matthew.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131198</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-05-donglegate.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131097</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-07-step-it-up-siri.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131097</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-21-emoji-tags-in-workflow.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131002</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-23-the-untouch-bar.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131002</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-28-its-not-about-the-porn.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.41131198</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-18-between-the-bezels - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>533685148.59725302</real>
				<key>version</key>
				<dict>
					<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
					<integer>2</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2017-04-18-between-the-bezels.md</key>
			<dict>
				<key>lastModification</key>
				<real>522694246.411313</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-11-01-as-time-goes-by-2017-edition.md</key>
			<dict>
				<key>lastModification</key>
				<real>531185059.214459</real>
				<key>version</key>
				<dict>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-11-28-Animoji.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>541457490.85892296</real>
				<key>lastModification</key>
				<real>541457490.85892296</real>
				<key>version</key>
				<dict>
					<key>305A3441-791B-492A-A2C3-D961718A086D</key>
					<integer>10</integer>
					<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
					<integer>8</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>541457490.85840595</real>
				<key>lastModification</key>
				<real>541457490.85840595</real>
				<key>version</key>
				<dict>
					<key>305A3441-791B-492A-A2C3-D961718A086D</key>
					<integer>7</integer>
					<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>536092389.90567702</real>
		<key>userIconName</key>
		<real>533687389.22780502</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2007-10-04-be-a-star.md</string>
		</array>
		<array>
			<string>2017-11-28-Animoji.md</string>
		</array>
		<array>
			<string>2007-10-04-be-a-star - 2.md</string>
		</array>
		<array>
			<string>2016-06-13-wwdc-post-roundup.md</string>
		</array>
		<array>
			<string>2016-06-12-wwdc-week-of-wants-vol-6.md</string>
		</array>
		<array>
			<string>2016-06-11-wwdc-week-of-wants-vol-5.md</string>
		</array>
		<array>
			<string>2016-06-10-wwdc-week-of-wants-vol-4.md</string>
		</array>
		<array>
			<string>2016-06-09-wwdc-week-of-wants-vol-3.md</string>
		</array>
		<array>
			<string>2016-06-08-wwdc-week-of-wants-vol-2.md</string>
		</array>
		<array>
			<string>2016-06-07-wwdc-week-of-wants-vol-1.md</string>
		</array>
		<array>
			<string>2016-06-03-i-just-troncd-my-pants.md</string>
		</array>
		<array>
			<string>2016-06-01-the-internet-decapitalized.md</string>
		</array>
		<array>
			<string>2016-05-31-google-photos-hits-one-year.md</string>
		</array>
		<array>
			<string>2016-05-25-voting-by-mail-is-awesome.md</string>
		</array>
		<array>
			<string>2016-05-03-my-social-apps-2016-edition.md</string>
		</array>
		<array>
			<string>2016-04-07-textexpander-pricing.md</string>
		</array>
		<array>
			<string>2016-04-01-Apple-turns-40.md</string>
		</array>
		<array>
			<string>2016-03-31-on-the-ifttt-kerfuffle.md</string>
		</array>
		<array>
			<string>2016-03-30-drafts-apple-watch.md</string>
		</array>
		<array>
			<string>2016-03-15-richard-clarke-talks-encryption.md</string>
		</array>
		<array>
			<string>2016-03-03-Amicus-Briefly.md</string>
		</array>
		<array>
			<string>2016-02-22-disingenuous-at-best.md</string>
		</array>
		<array>
			<string>2016-02-22-apple-faq-on-the-fbi-request.md</string>
		</array>
		<array>
			<string>2016-02-17-tim-cook-a-dangerous-precedent.md</string>
		</array>
		<array>
			<string>2015-12-31-happy-new-year-yall-start-today.md</string>
		</array>
		<array>
			<string>2015-12-15-perfectly-reasonable.md</string>
		</array>
		<array>
			<string>2015-11-16-ipad-pro-first-impressions.md</string>
		</array>
		<array>
			<string>2015-11-13-productive-watch-faces.md</string>
		</array>
		<array>
			<string>2015-11-09-more-malware-fun.md</string>
		</array>
		<array>
			<string>2015-05-27-apple-watch-workflow.md</string>
		</array>
		<array>
			<string>2015-03-03-new-tricks.md</string>
		</array>
		<array>
			<string>2014-09-09-apple-september-event.md</string>
		</array>
		<array>
			<string>2014-06-01-the-obligatory-pre-wwdc-prognostication.md</string>
		</array>
		<array>
			<string>2014-05-09-using-keyboard-maestro-for-print-layout-in-sketchup.md</string>
		</array>
		<array>
			<string>2014-05-05-hostile-ux-on-tech-websites-part-1.md</string>
		</array>
		<array>
			<string>2014-02-22-if-this-then-that.md</string>
		</array>
		<array>
			<string>2013-11-10-i-just-returned-my-first-apple-device.md</string>
		</array>
		<array>
			<string>2013-11-07-is-mavericks-screwing-up-your-pdfs.md</string>
		</array>
		<array>
			<string>2013-11-03-daylight-savings-and-security.md</string>
		</array>
		<array>
			<string>2013-10-24-mavericks-and-textexpander.md</string>
		</array>
		<array>
			<string>2013-10-22-apple-october-event-quickie.md</string>
		</array>
		<array>
			<string>2013-08-26-happy-national-dog-day.md</string>
		</array>
		<array>
			<string>2013-08-07-dancing-jimmy.md</string>
		</array>
		<array>
			<string>2013-06-02-wwdc-2013-is-next-week.md</string>
		</array>
		<array>
			<string>2013-05-22-every-oklahoma-senator-and-rep-voted-against-fema.md</string>
		</array>
		<array>
			<string>2013-03-28-beware-social-media-distractions.md</string>
		</array>
		<array>
			<string>2013-03-14-google-reader-is-dead.md</string>
		</array>
		<array>
			<string>2012-12-23-but-not-the-second.md</string>
		</array>
		<array>
			<string>2012-12-13-hostess-ceo-is-a-giant-ass.md</string>
		</array>
		<array>
			<string>2012-12-02-as-time-goes-by.md</string>
		</array>
		<array>
			<string>2017-11-01-as-time-goes-by-2017-edition.md</string>
		</array>
		<array>
			<string>2012-11-28-linkbait-bullshit-from-tuaw.md</string>
		</array>
		<array>
			<string>2011-08-28-irene.md</string>
		</array>
		<array>
			<string>2011-07-20-osx-lion-is-here-sort-of.md</string>
		</array>
		<array>
			<string>2011-03-14-amazons-trojan-horse.md</string>
		</array>
		<array>
			<string>2011-03-04-microsofts-irony.md</string>
		</array>
		<array>
			<string>2008-10-20-my-electronics-on-the-road.md</string>
		</array>
		<array>
			<string>2008-09-05-ecoweb-friday-bignyc.md</string>
		</array>
		<array>
			<string>2008-07-03-att-and-everyone-else-charges-1497-per-megabyte.md</string>
		</array>
		<array>
			<string>2008-06-04-apple-wants-you-to-buy-iphone-apps.md</string>
		</array>
		<array>
			<string>2008-04-19-water-bottles-are-bad.md</string>
		</array>
		<array>
			<string>2008-02-11-rip-hd-dvd-long-live-blu-ray.md</string>
		</array>
		<array>
			<string>2008-01-21-one-more-reason-to-not-like-tom-cruise.md</string>
		</array>
		<array>
			<string>2007-12-28-gadget-of-the-year.md</string>
		</array>
		<array>
			<string>2007-12-24-macworld-2008-predictions.md</string>
		</array>
		<array>
			<string>2007-12-23-carpet-or-tile-which-is-greener.md</string>
		</array>
		<array>
			<string>2007-11-14-green-peace-and-the-clash-with-apple - 2.md</string>
		</array>
		<array>
			<string>2007-11-14-green-peace-and-the-clash-with-apple.md</string>
		</array>
		<array>
			<string>2007-10-04-brush-your-teeth-flush-your-toilet.md</string>
		</array>
		<array>
			<string>2011-12-21-fire-the-bastards-all-of-them.md</string>
		</array>
		<array>
			<string>2011-10-27-movie-mandates-on-bds.md</string>
		</array>
		<array>
			<string>2011-10-08-the-crazy-one.md</string>
		</array>
		<array>
			<string>2011-09-16-oklahoma-city-memorial.md</string>
		</array>
		<array>
			<string>2011-09-09-terrible-trade-agreements.md</string>
		</array>
		<array>
			<string>2011-09-08-michael-hart-inventor-of-ebooks-dies.md</string>
		</array>
		<array>
			<string>2011-07-04-happy-235-america.md</string>
		</array>
		<array>
			<string>2011-06-18-us-news-world-report-screws-paleo-without-research.md</string>
		</array>
		<array>
			<string>2011-06-03-wwdc-2011.md</string>
		</array>
		<array>
			<string>2011-05-14-riaa-are-dirtbags-plain-and-simple.md</string>
		</array>
		<array>
			<string>2011-04-15-happy-friday-everyone.md</string>
		</array>
		<array>
			<string>2016-07-12-imac-ssd-upgrade.md</string>
		</array>
		<array>
			<string>2016-07-29-cognitive-dissonance.md</string>
		</array>
		<array>
			<string>2012-06-24-the-clearchannel-connection.md</string>
		</array>
		<array>
			<string>2012-03-07-ipad-3-event-today.md</string>
		</array>
		<array>
			<string>2012-02-16-mountain-lion-is-coming.md</string>
		</array>
		<array>
			<string>2016-09-08-airpod-paranoia.md</string>
		</array>
		<array>
			<string>2016-09-06-apple-s-september-event.md</string>
		</array>
		<array>
			<string>2016-09-02-the-well-kept-app-store.md</string>
		</array>
		<array>
			<string>2016-08-18-search-engine-bias-in-politics.md</string>
		</array>
		<array>
			<string>2016-10-03-ios-and-tvos-playing-nice.md</string>
		</array>
		<array>
			<string>2016-10-01-on-the-iphone-7-plus.md</string>
		</array>
		<array>
			<string>2017-01-23-the-untouch-bar.md</string>
		</array>
		<array>
			<string>2016-11-21-emoji-tags-in-workflow.md</string>
		</array>
		<array>
			<string>2016-11-07-step-it-up-siri.md</string>
		</array>
		<array>
			<string>2016-11-05-donglegate.md</string>
		</array>
		<array>
			<string>2016-10-10-hurricane-matthew.md</string>
		</array>
		<array>
			<string>2017-03-28-its-not-about-the-porn.md</string>
		</array>
		<array>
			<string>2017-04-18-between-the-bezels - 2.md</string>
		</array>
		<array>
			<string>2017-04-18-between-the-bezels.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>305A3441-791B-492A-A2C3-D961718A086D</key>
			<integer>10</integer>
			<key>CB552F7B-DB54-42F7-9058-006D379567DF</key>
			<integer>8</integer>
			<key>df048f1e17f3447a3bbbbd576423e04d415ccb4b5751b3468c91e6380368ef11</key>
			<integer>16</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>305A3441-791B-492A-A2C3-D961718A086D</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>305A3441-791B-492A-A2C3-D961718A086D</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
