---
layout: main
---
<article class="article-page">

<div class="page-cover-image">
{% if page.category == "Writing" %}
    {%if page.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="defaultpost"><i class="fa fa-glass" aria-hidden="true"></i></h1></div>
    {% endif %}
{% elsif page.category == "Linked" %}
    {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="linkpost"><i class="fa fa-link" aria-hidden="true"></i></h1></div>
    {% endif %}
{% elsif page.category == "Social" %}
        {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
            {% endif %}
        </figure>
    {% else %}
    {% endif %}
{% elsif page.category == "Stuff" %}
    {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption>
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="stuffpost"><i class="fa fa-amazon" aria-hidden="true"></i></h1></div>
    {% endif %}    {% endif %}
    </div>
    
<!-- End Page Cover Image -->
    
<div class="wrap-content">
  <div class="page-content">
{% if page.category == "Social" or page.category == "Micro" %}
    <header class="header-page">
      </header>
{% else %}
    <header class="header-page">
    <h1 class="page-title">{{page.title}}</h1>
        {% if page.subtitle %}
        <h3 class="page-subtitle">{{page.subtitle}}</h3>
        {% endif %}
    </header>
{% endif %}
{% if page.category == "Linked" or page.category == "Writing" %}
      {{content | markdownify}}
{% elsif page.category == "Social" or page.category == "Micro" %}
<div class="social">
{% if page.img %}
      <img class="social-img" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
{% endif%}      
      {{content | markdownify}}
    
 {% if page.via == "Twitter" %}
            <a href="{{page.link}}" class="tag-social"><i class="fa fa-twitter"></i> {{page.via}}</a> on {{page.date | date: '%b %d, %Y'}}
 {% elsif page.via == "Instagram" %}
            <a href="{{page.link}}" class="tag-social"><i class="fa fa-instagram"></i> {{page.via}}</a> on {{page.date | date: '%b %d, %Y'}}
 {% endif %}
</div>
{% endif %}
<div class="page-footer">
<div class="page-tag">
        {% if page.category == "Linked" %}
            <a href="{{page.link}}" class="tag"><i class="fa fa-link"></i> {{page.via}}</a>
        {% endif %}
        {% for tag in page.tags %}
    <a href="{{site.baseurl}}/tags#{{tag}}" class="tag"><i class="fa fa-tag"></i> {{ tag }}</a>
          {% endfor %}
        {% if page.category == "Writing" or page.category == "Linked" or page.category == "Stuff" %}
    <div class="page-date">
    <i class="fa fa-calendar"></i>  {{page.date | date: '%b %d, %Y'}}
    </div> {% endif %}
</div><!-- End page-tag -->
</div><!-- End page-footer -->
{% if page.category != "Micro" %}
{% include related-posts.html %}
{% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
