---
layout: main
---
<article class="article-page">
  <div class="page-content">
<div class="page-cover-image">
{% if page.category == "Writing" %}
    {%if page.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption> 
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="defaultpost"> 🍸 </h1></div>
    {% endif %}
{% elsif page.category == "Linked" %}
    {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption> 
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="linkpost"> 🔗 </h1></div>
    {% endif %}
{% elsif page.category == "Video" %}
    {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption> 
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="videopost"> 📽 </h1></div>
    {% endif %}
{% elsif page.category == "Stuff" %}
    {%if post.img %}
        <figure>
        <img class="page-image" src={{ "/assets/img/post/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            {% if page.fig-caption %}
            <figcaption>{{page.fig-caption}}</figcaption> 
            {% endif %}
        </figure>
    {% else %}<div class="post-linkthumb"><h1 class="stuffpost"> 🛒 </h1></div>
    {% endif %}
{% endif %}
</div>        

<!-- End Page Cover Image -->

    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h3 class="page-subtitle">{{page.subtitle}}</h3>
        {% endif %}
        <div class="page-date"><span>{{page.date | date: '%B %d, %Y'}}</span></div>
      </header>
      {{content | markdownify}}
<div class="page-footer">
<div class="page-tag">
        {% if page.via %}
            <a href="{{page.link}}" class="tag">🔗  {{page.via}}</a> 
            {% endif %}
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Tweet This</a>
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->


