---
layout: main
---
<article class="article-page">
<div class="wrap-content">
  <div class="page-content">

      <header class="header-page">
       {% include youtube.html %} 
          <br />
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h3 class="page-subtitle">{{page.subtitle}}</h3>
      </header>
{% endif %}
      {{content | markdownify}}
<div class="page-footer">
<div class="page-tag">
        {% if page.via %}
            <a href="{{page.link}}" class="tag"><i class="fa fa-link"></i> {{page.via}}</a>
        {% endif %}
    {% if page.category !="Social" %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i> Tweet</a> {% endif%}
        {% if site.social-rss %}
    <a href={{site.baseurl}}/{{site.social-rss}}><i class="fa fa-rss"></i> RSS</a>
        {% endif %}
          {% for tag in page.tags %}
    <a href="{{site.baseurl}}/tags#{{tag}}" class="tag"><i class="fa fa-tag"></i> {{ tag }}</a>
          {% endfor %}
    <div class="page-date">
    <i class="fa fa-calendar"></i>  {{page.date | date: '%B %d, %Y'}}
    </div>
</div><!-- End page-tag -->
</div><!-- End page-footer -->
{% include related-posts.html %}      
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->