---
layout: main
---
<article class="article-page">
<div class="wrap-content">
  <div class="page-content">

      <header class="header-page">
       {% include youtube.html %}
          <br />
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.subtitle %}
          <h3 class="page-subtitle">{{page.subtitle}}</h3>
      </header>
        {% endif %}
      {{content | markdownify}}
{% include footer.html %}
</div> <!-- End Wrap Content -->
</div> <!-- End Page Content -->
</article> <!-- End Article Page -->